body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*APP NAVBAR*/
.nav-items-container{
  width: 100%;
}

.custom-nav-item{
  margin: 5px 15px;
}

.pusher-nav-item{
  flex-basis: 55%;
}

/*HOME PAGE*/
.items-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.slider-big-wrapper{
  padding: 10px;
  margin: 125px 20px;
}

.title-container{
  margin: 15px 20px;
}

.slider-container{
  height: 250px;
}

.slider-wrapper{
  height: 400px;
}

.item{
  height: 185px;
}